@page "/"
@using System.Text
@using MyApplication.Datas
@using System.Text.Json
@using MyApplication.Helpers
@inject IJSRuntime JSRuntime
@inject MessageService Message


<PageTitle>sha1在线筛选</PageTitle>


<div>


    <Layout>
        <Header Style="height:64px">
            <div>
                <Row>
                    <GridCol Span="3">
                        <MyInputFile Text="选择文件" OnChange="@LoadFiles"></MyInputFile>
                    </GridCol>

                    @if (!string.IsNullOrWhiteSpace(folderInfo))
                    {
                        <GridCol Span="14">
                            <span class="folder-info-span">@folderInfo</span>
                        </GridCol>
                        <GridCol Span="2">
                            <Button  OnClick="@(_=>{showAddFile=true;})">附加文件</Button> 
                        </GridCol>
                        <GridCol Span="2">
                            <Button>另存为</Button>
                        </GridCol>
                    }
                </Row>



            </div>

        </Header>




        @if (selectedItem != null)
        {
            <div style="background-color:#f2f2f2;padding:0px 40px">
                <Row>
                    <GridCol Span="1">
                        <p>路径：</p>
                    </GridCol>
                    <GridCol Span="23">
                        <Breadcrumb>
                            @if (selectedItem != null)
                            {
                                <BreadcrumbItem>
                                    <a @onclick="@(e=>PathCilck(root.ID))">根目录</a>
                                </BreadcrumbItem>
                                @if (!string.IsNullOrWhiteSpace(selectedItem.PathString))
                                {
                                    var parents = GetSubPaths(selectedItem.ID).Reverse();
                                    if (parents.Count() >= 1)
                                    {
                                        foreach (var parent in parents.Skip(1))
                                        {
                                            <BreadcrumbItem>
                                                <a @onclick="@(e=>PathCilck(parent.ID))">@parent.Name</a>
                                            </BreadcrumbItem>
                                        }
                                        <BreadcrumbItem>@selectedItem.Name</BreadcrumbItem>
                                    }

                                }
                            }
                        </Breadcrumb>
                    </GridCol>
                </Row>
            </div>


            <Descriptions style="background-color:#f2f2f2;padding:0px 40px">
                <DescriptionsItem Title="信息">@($"文件夹：{selectedItem.FolderCount}，文件：{selectedItem.FileCount}，共{FileHelper.CalculateFileSize(selectedItem.Size)}")</DescriptionsItem>
            </Descriptions>
        }

        @if (selectedItem == null)
        {
            <Empty style="height:calc(100vh - 64px)"></Empty>
        }
        else
        {
            <div style="height:calc(100vh - 203px); overflow-y:scroll">
                <ul class="ant-list-items">
                    <Virtualize TItem=@IItem Items="@selectedItem.Children"  Context="item" ItemSize="24">
                        @if (item is FolderItem folder)
                        {
                            <li class="ant-list-item" @onclick="@(_=>ItemClick(item))">
                                <span class="ant-list-item-span">
                                    <Row>
                                        <AntDesign.Col Span="2">
                                            <div>
                                                <Tooltip Title="@("复制sha1")">
                                                    <Button Size="small" Icon="@IconType.Outline.Save" OnClick="@(_=>CopySha1(item))" OnClickStopPropagation="true"></Button>

                                                </Tooltip>

                                                <Tooltip Title="@("删除")">
                                                    <Button Size="small" Danger Icon="@IconType.Outline.Delete"></Button>
                                                </Tooltip>
                                            </div>

                                        </AntDesign.Col>

                                        <AntDesign.Col Span="1">
                                            <Icon Type="folder" Theme="outline" />
                                        </AntDesign.Col>
                                        <AntDesign.Col Span="1">
                                            <Checkbox></Checkbox>
                                        </AntDesign.Col>
                                        <AntDesign.Col Span="15">

                                            <span>@item.Name</span>
                                        </AntDesign.Col>
                                        <AntDesign.Col Span="5">
                                            <span>
                                                @($"文件夹：{folder.FolderCount}，文件：{folder.FileCount}，共{FileHelper.CalculateFileSize(folder.Size)}")
                                            </span>
                                        </AntDesign.Col>

                                    </Row>
                                </span>
                            </li>
                        }
                        else if (item is FileItem file)
                        {
                            <li class="ant-list-item">
                                <span class="ant-list-item-span">
                                    <Row>
                                        <AntDesign.Col Span="2">
                                            <Tooltip Title="@("复制sha1")">
                                                <Button Size="small" Icon="@IconType.Outline.Copy" OnClick="@(_=>CopySha1(item))"></Button>

                                            </Tooltip>
                                            <Tooltip Title="@("重命名")">
                                                <Button Size="small" Icon="@IconType.Outline.Edit"></Button>
                                            </Tooltip>
                                            <Tooltip Title="@("删除")">
                                                <Button Size="small" Danger Icon="@IconType.Outline.Delete"></Button>
                                            </Tooltip>


                                        </AntDesign.Col>
                                        <AntDesign.Col Span="1">
                                            <Icon Type="file" Theme="fill" />
                                        </AntDesign.Col>
                                        <AntDesign.Col Span="1">
                                            <Checkbox></Checkbox>
                                        </AntDesign.Col>
                                        <AntDesign.Col Span="15">
                                            <span>@item.Name</span>
                                        </AntDesign.Col>
                                        <AntDesign.Col Span="5">
                                            <span>
                                                @($"{FileHelper.CalculateFileSize(file.Size)}")
                                            </span>
                                        </AntDesign.Col>

                                    </Row>
                                </span>
                            </li>
                        }
                    </Virtualize>
                </ul>
            </div>

        }


        @if (selectedItem != null)
        {
            <Footer Style="background-color:#001529;height:64px">
            </Footer>
        }


    </Layout>
    <Modal Visible="@IsFileLoading" Closable="false" Footer="null">
        <div style="text-align: center;">
            <Spin Size="large" Tip="文件加载中..." />
        </div>
    </Modal>

    <Modal  Visible="@showAddFile"  OnCancel="@AddFileHandleCancel" Footer=null DestroyOnClose="true">
        <AddFile CurrentFolderName="@selectedItem.Name" OnCancel="@AddFileHandleCancel" OnComfirm="@AddFileHandleComfirm"></AddFile>
    </Modal>
</div>




@code {
    public bool IsFileLoading { get; set; }

    bool showAddFile;

    public List<FileType> Extensions { get; set; } = new();


    private FolderItem selectedItem;
    private List<IItem> allItems = new List<IItem>();
    private FolderItem root;
    private string folderInfo;

    private async void LoadFiles(InputFileChangeEventArgs e)
    {
        IsFileLoading = true;
        folderInfo = "";
        selectedItem = null;
        allItems.Clear();
        await Task.Delay(200);

        await using var stream = e.File.OpenReadStream(maxAllowedSize: e.File.Size);

        root = await FileHelper.ConverterFromFileAsync(stream, e.File.Name, Guid.NewGuid());

        folderInfo = $"【{root.Name}】： 文件夹: {root.FolderCount}， 文件: {root.FileCount}， 大小: {FileHelper.CalculateFileSize(root.Size)}";
        this.StateHasChanged();

        allItems = FileHelper.ConverterListFromFolderItem(root);



        selectedItem = root;

        AnalyzeFiles();

        IsFileLoading = false;
        this.StateHasChanged();
    }

    private void AnalyzeFiles()
    {
        //Extensions = Files.GroupBy(f => f.Extension).Select(g => new FileType { TypeName = g.Key, Count = g.Count() }).ToList();
    }

    private void FilterFiles()
    {

    }



    private void ItemClick(IItem item)
    {
        if (item is FolderItem folder)
        {
            selectedItem = folder;
        }
    }



    private void PathCilck(Guid id)
    {
        var folder = allItems.FirstOrDefault(q => q.ID == id);
        if (folder != null)
        {
            selectedItem = (FolderItem)folder;
        }
    }

    private async void CopySha1(IItem item)
    {
        if (item is FileItem file)
        {

            await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", file.OriginLink);
            await Message.Info("已复制sha1链接到剪贴板！");
        }
    }

    private IEnumerable<FolderItem> GetSubPaths(Guid id)
    {
        var item = allItems.FirstOrDefault(q => q.ID == id);
        while (item.ID != root.ID)
        {
            item = allItems.FirstOrDefault(q => q.ID == item.ParentID && q is FolderItem);

            yield return (FolderItem)item;
        }
    }


    private void AddFileHandleCancel(MouseEventArgs e)
    {
        showAddFile = false;
    }

    private void AddFileHandleComfirm(AddFileArgs e)
    {
        
        showAddFile = false;
    }


}